nav
  .logo
    h1  Cinema City 
    span
  ul
    li.special
      a(href='/buy') Cumpără un bilet 
    li
      a(href='/comment') Recenzii Filme 
    li
      a(href='/history') Istoric Bilete 
    li
      a(href='/logout') Logout
